# Environment Variables

# NASA API Key
NASA_API_KEY="your_nasa_api_key"

# Location API Key
LOC_API_KEY="your_location_api_key"

# New York Times API Key
NYT_API_KEY="your_nyt_api_key"

# Database Type
DB_TYPE="your_database_type"

# Database Path
DB_PATH="your_database_path"